.visi-border {
    border-color: deeppink;
    border-width: 1px;
    border-style: none;
    margin: 5px;
    padding: 8px;
}
.card-border{
    border-color: #661414;
    border-width: 2px;
    border-style: ridge
    margin: 95px;
    padding: 78px;
}

.img1{
    background-size:cover;
    background-image: url('https:////c1.staticflickr.com/1/961/41935918272_19433787d0_m.jpg');
}

.square {
    position: relative;
    width: 60%;
    margin: 5% 0 0 0 ;
}

.square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.text-bot { 
    vertical-align: bottom;
}

.clipP {
    background-position: right 887px;
}

.fah:hover{
    color: #280505;
}

.tt{
    font-family: copperplate, fantasy;
    color: #661414;
    font-size: 36px;
    text-align: center;    
}

.ht{
    font-family: copperplate, fantasy;
    color: #661414;
    font-size: 24px;
    text-align: justify; 
        margin: 0 8% 0 8% ;
}

.button {
    color: #661414;
    transition: all .2s ease-in-out;
}
.button-hover:hover{
    color: #db6c3d;
}

.side-padding {
    padding-left: 45px;
    padding-right: 45px;
}